---
import BaseLayout from "../layout/BaseLayout.astro";
---
<BaseLayout title={"500"} description={"Error interno"}>
  <main>
    <h1>500</h1>
    <p></p>
    <button></button>
  </main>
</BaseLayout>`;