---
import BaseLayout from "../layout/BaseLayout.astro";
import ButtoWhatsapp from "../components/ButtoWhatsapp.astro";
import MainStart from "../sections/MainStart.astro";
import Servicios from "../sections/Servicios.astro";
---
<BaseLayout
  title={"Home"}
  description={"Página de inicio de TKUIDO venta de seguros "}
>
  <main>
    <section id="hero-container">
      <MainStart />
    </section>

    <section id="servicio-container">
      <Servicios />
    </section>
  </main>

<style>
  #hero-container {
    height: 70vh;
  }

  #servicio-container {
    width: 100%;
  }
</style>