---
import BaseLayout from "../layout/BaseLayout.astro"



---

<BaseLayout title={"Home"} description={"Página de inicio de TKUIDO venta de seguros "}>
	<main>
		<h1>hola</h1>
	</main>
</BaseLayout>
