---
import BaseLayout from "../layout/BaseLayout.astro";
import MainStart from "../sections/MainStart.astro";
import Servicios from "../sections/servicios.astro";
import Nosotros from "../sections/Nosotros.astro";
import Contacto from "../sections/Contacto.astro";
import FAQ from "../components/FAQ.jsx";
import Card from "../components/Card.jsx";
import Slider from "../sections/Slider.astro";
import ButtoWhatsapp from "../components/ButtoWhatsapp.astro";
---

<BaseLayout
  title={"Home"}
  description={"Página de inicio de TKUIDO venta de seguros "}
>
  <main>
    <section id="hero-container">
      <MainStart />
    </section>

    <section id="slider">
      <Slider />
    </section>

    <section id="servicio-container">
      <Servicios />
      <a href="/categoria" class="button-products">
        <button> Ve nuestros productos </button>
      </a>
    </section>

    <div id="Boton-fijo">
      <ButtoWhatsapp 
      text="COMPRAR AHORA"/>
    </div>

    <section id="polizas-container">
      <h2>Productos</h2>
      <div>
        <Card idCard={"1"} client:visible />
        <Card idCard={"2"} client:visible />
        <Card idCard={"3"} client:visible />
      </div>
      <a href="/categoria" class="button-products">
        <button> Ver todos los productos </button>
      </a>
    </section>

    <section id="nosotro-container">
      <Nosotros />
    </section>

    <section id="contacto-container">
      <Contacto />
    </section>

    <section id="faq-container">
      <h2><span>FAQ</span> <span>Preguntas Frecuentes</span></h2>
      <div>
        <FAQ client:visible />
      </div>
    </section>
  </main>

  <script>
    window.addEventListener('scroll', function() {
      const botonFijo = document.getElementById('Boton-fijo');
      if (botonFijo !== null) {
        if (window.scrollY > 100) {
          botonFijo.classList.add('visible');
        } else {
          botonFijo.classList.remove('visible');
        }
      }
    });
  </script>

  <style>
    section {
      width: 100%;
    }
    #slider {
      display: flex;
      justify-content: center;
    }

    #servicio-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    #polizas-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 50px;
    }

    #polizas-container h2 {
      font-size: 2rem;
      font-weight: 600;
      color: #333;
      margin-bottom: 30px;
    }

    #polizas-container div {
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    }

    .button-products {
      background: #6bb580;
      color: white;
      border: none;
      padding: 15px 25px;
      border-radius: 20px;
      cursor: pointer;
      transform: all 0.5s ease;
      font-weight: 600;
      margin-top: 30px;
    }

    .button-products button:hover {
      background: #128c7e;
    }

    #faq-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 50px;
      margin-top: 50px;
    }

    #faq-container h2 {
      font-size: 2rem;
      font-weight: 600;
      color: #333;
      margin-bottom: 20px;
    }

    #faq-container div {
      width: 80%;
    }

    #Boton-fijo {
      display: none;
      position: fixed;
      right: 50px;
      bottom: 50px;
      width: calc(100vw - 86vw);
      padding: 5px;
      margin-right: 50px;
    }

    #Boton-fijo.visible {
      display: block; 
    }

    @media (max-width: 769px) {
      #polizas-container div {
        flex-direction: column;
      }

      #faq-container {
        margin-top: 0;
      }

      #faq-container h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 20px 50px 20px;
      }

      #Boton-fijo {
      display: none;
      position: fixed;
      right: 20px;
      bottom: 20px;
      width: calc(100vw - 76%);
      margin-right: 40px;
    }

    #Boton-fijo.visible {
      display: block; 
    }
    }
  </style></BaseLayout
>
