---
import BaseLayout from "../layout/BaseLayout.astro";
import ButtoWhatsapp from "../components/ButtoWhatsapp.astro";
import MainStart from "../sections/MainStart.astro";
import Servicios from "../sections/Servicios.astro";
import Nosotros from "../sections/Nosotros.astro";
import Contacto from "../sections/Contacto.astro";
import FAQ from "../components/FAQ.jsx";
---
<BaseLayout
  title={"Home"}
  description={"Página de inicio de TKUIDO venta de seguros "}
>
  <main>
    <section id="hero-container">
      <MainStart />
    </section>

    <section id="noticias-container">

    </section>

    <section id="servicio-container">
      <Servicios />
    </section>

    <section id="polizas-container">

    </section>

    <section id="nosotro-container">
      <Nosotros />
    </section>

    <section id="contacto-container">
      <Contacto />
    </section>

    <section id="faq-container" >
      <h2>FAQ Preguntas Frecuentes</h2>
      <div>
        <FAQ client:visible />
      </div>
    </section>
    
  </main>

<style>
  #hero-container {
    height: 70vh;
  }

  #servicio-container {
    width: 100%;
  }

  #nosotro-container {
    width: 100%;
  }

  #contacto-container {
    width: 100%;
  }

  #faq-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  #faq-container h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }

  #faq-container div {
    width: 50%;
  }
</style>