---
import BaseLayout from "../layout/BaseLayout.astro"
import ButtoWhatsapp from "../components/ButtoWhatsapp.astro"

---

<BaseLayout title={"Home"} description={"Página de inicio de TKUIDO venta de seguros "}>
	<main>
		<h1>hola</h1>
		<ButtoWhatsapp text="Consulta en Linea" message="Hola! quiero más información de sus servicios" />
	</main>
</BaseLayout>
