---
interface Props {
  img: string;
  alt: string;
  url: string;
  titulo: string;
}

const { titulo,url, img, alt } = Astro.props;
---
<div>
  <a href={url}>
    <button>
      <img src={img} alt={alt}>
    </button>
  </a>

  <h3>{titulo}</h3>
</div>
<slot />