---
interface Props {
  //url: string; es el link de whatsapp pero si fueran varios se descomenta para usarlo
  text?: string;
  message?: string;
}

const { text, message } = Astro.props;
const whatsappUrl = `https://wa.me/584264389499?text=${encodeURIComponent(message || "")}`;
---

<a href={whatsappUrl} target="_blank" rel="noopener">
  <button
    >{text}
    <img src="../img/icons/icons-whatsapp.svg" alt="icono whatsapp" />
  </button>
</a>

<style>
  button {
    background: #6bb580;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transform: all 0.5s ease;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  button img {
    width: 20px;
    height: 20px;
    background: #6bb580;
    margin-left: 10px;
  }

  button:hover {
    background: #128c7e;
    img {
      background: #128c7e;
    }
  }
  @media (max-width: 769px) {
    button {
      padding: 10px 10px;
      font-size: 0.6rem;
    }
  }
</style>
