---
---

<footer id="footer">

  <div id="Container">

    <div id="container-izquierdo">
      <img src="../img/Isotipo_TKUIDO.png" alt="logo TKUIDO">
    </div>

    <div class="container-derecha">
      <div class="links-derecha">
        <h4>Inicio</h4>
        <a href="#noticias-container">Noticias</a>
        <a href="#servicio-container">Servicios</a>
        <a href="#polizas-container">Pólizas</a>
        <a href="#nosotros-container">Nosotros</a>
        <a href="#contacto-container">Contáctanos</a>
      </div>

      <div class="links-derecha">
        <h4>Legal</h4>
        <a href="#">Términos y condiciones</a>
        <a href="#">Políticas de privacidad</a>
        <a href="#">Polñitica de cookies</a>
      </div>
    </div>

  </div>

  <hr>
  <p>Copyright © 2024, TKUIDO</p>
</footer>

<style>
  #footer{
    background: #3D6B43;
    padding: 20px;
    text-align: center;
  }

  #Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  #container-izquierdo img{
    height: 60px;
    width: 60px;
  }

  .container-derecha{
    display: flex;
    gap: 20px;
  }

  .links-derecha h4{
    color: white;
  }

  .links-derecha{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  p{
    color: white;
  }
</style>