---

---

<footer id="footer">
  <div id="Container">
    <div id="container-izquierdo">
      <img src="../img/Isotipo_TKUIDO.png" alt="logo TKUIDO" />

      <div class="social">
        <a href="https://www.instagram.com/tkuido247?igsh=cWxuMXR4OTM0c2Jm">
          <img src="../img/icons/icono-instagram.png" alt="instagram">
        </a>
        <a href="https://www.facebook.com/people/TKuido-247/61564934094455/">
          <img src="../img/icons/icon-facebook.png" alt="facebook">
        </a>
        <a href="https://www.tiktok.com/@tkuido.247?_t=8pFx3vxYutK&_r=1">
          <img src="../img/icons/icon-tik-tok.png" alt="tik tok">
        </a>
        <a href="https://www.linkedin.com/company/tkuido-24-7/">
          <img src="../img/icons/icon-linkedin.png" alt="linkedin">
        </a>
      </div>
    </div>

    <div class="container-derecha">
      <div class="links-derecha">
        <h4>Inicio</h4>
        <a href="/#noticias-container">Noticias</a>
        <a href="/#servicio-container">Servicios</a>
        <a href="/#polizas-container">Productos</a>
        <a href="/#nosotro-container">Nosotros</a>
        <a href="/#contacto-container">Contáctanos</a>
      </div>

      <div class="links-derecha">
        <h4>Legal</h4>
        <a href="/Build">Términos y condiciones</a>
        <a href="/Build">Políticas de privacidad</a>
        <a href="/Build">Política de cookies</a>
      </div>
    </div>
  </div>

  <hr />
  <p>Copyright © 2024, TKUIDO</p>
</footer>

<style>
  #footer {
    background: #3d6b43;
    padding: 20px 50px 10px 50px;
    text-align: center;
  }

  #Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  #container-izquierdo img {
    height: 60px;
    width: 60px;
  }

  .container-derecha {
    display: flex;
    /*gap: 20px;*/
    gap: 60px;
  }

  .links-derecha h4 {
    color: white;
  }

  .links-derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  p {
    color: white;
  }

  @media (max-width: 769px) {
    #footer {
    background: #3d6b43;
    padding: 20px 30px 10px 30px;
    text-align: center;
  }
    #Container {
      column-gap: 30px;
    }

    #container-izquierdo img {
      height: 60px;
      width: 60px;
    }

    .container-derecha {
      display: flex;
      /*gap: 20px;*/
      gap: 20px;
    }

    .links-derecha h4 {
      color: white;
      
    }

    .links-derecha {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    p {
      color: white;
    }
  }

  .social {
    display: flex;
    margin-top: 10px;
  }

  .social a {
    width: 60px;
    height: 60px;
  }

  @media screen and (max-width: 769px){
    .social{
      flex-direction: column;
    }

  }
</style>
