---
import ButtoWhatsapp from "./ButtoWhatsapp.astro"
---

<header>
  <div id="logo-container">
    <a href="/" aria-label="Go to homepage">
      <img src= url("../public/img/Isotipo_TKUIDO.png") alt="TKUIDO" width="100" height="100" />
    </a>
    <h1>TKUIDO</h1>
  </div>
  
  <nav>
    <a href="/">Inicio</a>
    <a href="#noticias-container">Noticias</a>
    <a href="#servicio-container">Servicios</a>
    <a href="#polizas-container">P칩lizas</a>
    <a href="#nosotros-container">Nosotros</a>
    <a href="#contacto-container">Cont치ctanos</a>
  </nav>

  <ButtoWhatsapp text="Consulta en Linea" message="Hola! quiero m치s informaci칩n de sus servicios" />
</header>

<style>
  header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    width: 100%;
  }
  #logo-container{
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  #logo-container img{
    height: 60px;
    width: 60px;
  }

  #logo-container h1{
    font-size: 2rem;
    font-weight: 600;
    color: #111406;
    margin-left: 10px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    gap: 16px;
    margin-right: 20px;
  }	

  nav a{
    color: #111406;
    font-weight: 600;
  }

</style>