---
import ButtoWhatsapp from "../components/ButtoWhatsapp.astro";
---

<div class="slider">
  <ul>
    <li>
      <img src="../img/heroImages/bgimg.avif" alt="Adultos Mayores" />
      <div class="text">
        <div class="texto">
          <h1>Protege lo que más amas</h1>
          <h2>
            Con TKUIDO descubre y compra los mejores servicios de previsión al
            mejor precio.
          </h2>
          <p>
            Porque sabemos que la familia es lo primordial y conocemos tus
            necesidades, te brindamos la oportunidad de protegerlos.
          </p>
        </div>
        <div class="whatsapp-container">
          <ButtoWhatsapp
            text="Consulta en Linea"
            message="Hola! quiero más información de sus servicios"
          />
          <div class="social">
            <a href="https://www.instagram.com/tkuido247?igsh=cWxuMXR4OTM0c2Jm">
              <img src="../img/icons/icono-instagram.png" alt="instagram" />
            </a>
            <a
              href="https://www.facebook.com/people/TKuido-247/61564934094455/"
            >
              <img src="../img/icons/icon-facebook.png" alt="facebook" />
            </a>
            <a href="https://www.tiktok.com/@tkuido.247?_t=8pFx3vxYutK&_r=1">
              <img src="../img/icons/icon-tik-tok.png" alt="tik tok" />
            </a>
            <a href="https://www.linkedin.com/company/tkuido-24-7/">
              <img src="../img/icons/icon-linkedin.png" alt="linkedin" />
            </a>
          </div>
        </div>
      </div>
    </li>

    <li>
      <img
        src="../img/heroImages/AdultoMayor.avif"
        alt="Adultos Mayores"
      />
      <div class="text">
        <div class="texto">
          <h1>Cuídalos fácil y rápido</h1>
          <h2>
            Con TKUIDO puedes usar el método de pago que te resulte más cómodo.
          </h2>
          <p>
            Contamos con Pago Móvil o Paypal también recibimos pagos en fectivo
            en nuestras oficinas.
          </p>
        </div>
        <div class="whatsapp-container">
          <ButtoWhatsapp
            text="Consulta en Linea"
            message="Hola! quiero más información de sus servicios"
          />
          <div class="social">
            <a href="https://www.instagram.com/tkuido247?igsh=cWxuMXR4OTM0c2Jm">
              <img src="../img/icons/icono-instagram.png" alt="instagram" />
            </a>
            <a
              href="https://www.facebook.com/people/TKuido-247/61564934094455/"
            >
              <img src="../img/icons/icon-facebook.png" alt="facebook" />
            </a>
            <a href="https://www.tiktok.com/@tkuido.247?_t=8pFx3vxYutK&_r=1">
              <img src="../img/icons/icon-tik-tok.png" alt="tik tok" />
            </a>
            <a href="https://www.linkedin.com/company/tkuido-24-7/">
              <img src="../img/icons/icon-linkedin.png" alt="linkedin" />
            </a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img
        src="../img/heroImages/Familia.avif"
        alt="Adultos Mayores"
      />
      <div class="text">
        <div class="texto">
          <h1>Adquiere un servicio para ti o para toda tu familia</h1>
          <h2>Con TKUIDO encontrarás servicios que se adapten a tí.</h2>
          <p>
            Podrás conseguir productos y paquetes perfectos para tí y tu
            familia.
          </p>
        </div>
        <div class="whatsapp-container">
          <ButtoWhatsapp
            text="Consulta en Linea"
            message="Hola! quiero más información de sus servicios"
          />
          <div class="social">
            <a href="https://www.instagram.com/tkuido247?igsh=cWxuMXR4OTM0c2Jm">
              <img src="../img/icons/icono-instagram.png" alt="instagram" />
            </a>
            <a
              href="https://www.facebook.com/people/TKuido-247/61564934094455/"
            >
              <img src="../img/icons/icon-facebook.png" alt="facebook" />
            </a>
            <a href="https://www.tiktok.com/@tkuido.247?_t=8pFx3vxYutK&_r=1">
              <img src="../img/icons/icon-tik-tok.png" alt="tik tok" />
            </a>
            <a href="https://www.linkedin.com/company/tkuido-24-7/">
              <img src="../img/icons/icon-linkedin.png" alt="linkedin" />
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<style>
  /**Slider */
  .slider {
    width: auto;
    height: 100%;
    overflow: hidden;
    margin-left: calc(100vw - 98%);
    margin-right: calc(100vw - 98%);
    margin-top: 50px;
    border-radius: 15px;
  }
  .slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite alternate ease-in-out;
  }
  .slider li {
    width: auto;
    list-style: none;
    position: relative;
  }
  .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .slider img {
    width: 100%;
    object-fit: cover;
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    40% {
      margin-left: 0;
    }

    45% {
      margin-left: -100%;
    }
    70% {
      margin-left: -100%;
    }

    75% {
      margin-left: -200%;
    }
    100% {
      margin-left: -200%;
    }
  }

  .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    text-align: start;
  }
  .whatsapp-container {
    margin-top: 40px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  h1,
  h2,
  p {
    margin-bottom: 20px;
  }

  .social {
    display: flex;
    margin-top: 30px;
    z-index: 4;
  }

  .social a {
    width: 50px;
    height: 50px;
  }

  @media (max-width: 769px) {
    .slider,
    .slider ul,
    .slider img {
      height: 100vh;
    }
    .slider img {
      object-position: 75%;
      filter: brightness(50%);
    }
    .slider {
      margin-left: calc(100vw - 98vw);
      margin-right: calc(100vw - 98vw);
      margin-top: 0;
    }
    .text {
      padding: 30px;
      align-items: center;
    }
    .texto {
      color: #fff;
      text-align: center;
      width: 100%;
    }
    .whatsapp-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
    }

    .social {
      margin: auto;
      margin-top: 10px;
    }
    .social img {
      filter: none;
      height: auto;
    }
  }
</style>
