---
import ButtoWhatsapp from "../components/ButtoWhatsapp.astro";
---

<div id="imagen-wrapper">
  <!-- -->
  <div class="slider">
    <ul>
      <li>
        <img
          src="../../public/img/heroImages/bgimg.avif"
          alt="Adultos Mayores"
        />
      </li>

      <li>
        <img
          src="../../public/img/heroImages/AdultoMayor.avif"
          alt="Adultos Mayores"
        />
      </li>

      <li>
        <img
          src="../../public/img/heroImages/Familia.avif"
          alt="Adultos Mayores"
        />
      </li>
    </ul>
  </div>
  <!-- -->
  <!-- <div id="imagen"></div>-->
  <div class="content">
    <div id="texto">
      <h1>Mantén seguro lo que más quieres.</h1>
      <h2>
        Con TKUIDO descubre y compra las mejores pólizas de seguro al mejor
        precio.
      </h2>
      <p>
        Más del 80% de los trabajadores en Venezuela mantienen una relación
        laboral informal, y la mayoría de ellos no tienen ningún tipo de seguro.
      </p>
    </div>
    <div id="whatsapp-container">
      <ButtoWhatsapp
        text="Consulta en Linea"
        message="Hola! quiero más información de sus servicios"
      />
    </div>

    <div class="social">
      <a href="https://www.instagram.com/tkuido247?igsh=cWxuMXR4OTM0c2Jm">
        <img src="../img/icons/icono-instagram.png" alt="instagram" />
      </a>
      <a href="https://www.facebook.com/people/TKuido-247/61564934094455/">
        <img src="../img/icons/icon-facebook.png" alt="facebook" />
      </a>
      <a href="https://www.tiktok.com/@tkuido.247?_t=8pFx3vxYutK&_r=1">
        <img src="../img/icons/icon-tik-tok.png" alt="tik tok" />
      </a>
      <a href="https://www.linkedin.com/company/tkuido-24-7/">
        <img src="../img/icons/icon-linkedin.png" alt="linkedin" />
      </a>
    </div>
  </div>
</div>

<style>
  /**Slider */
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 300%;
  }
  .slider li {
    width: auto;
    list-style: none;
  }
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    40% {
      margin-left: 0;
    }

    45% {
      margin-left: -100%;
    }
    70% {
      margin-left: -100%;
    }

    75% {
      margin-left: -200%;
    }
    100% {
      margin-left: -200%;
    }
  }
  /** */
  #imagen-wrapper {
    position: relative;
    height: max-content;
    overflow: hidden;
    /** */
    margin-top: 50px;
    margin-left: calc(100vw - 98%);
    margin-right: calc(100vw - 98%);
    padding: 50px;
    border-radius: 15px;
  }
  .content {
    position: relative;
    z-index: 1;
  }
  #texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    text-align: start;
  }
  #whatsapp-container {
    margin-top: 40px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  h1,
  h2,
  p {
    margin-bottom: 20px;
  }

  .social {
    display: flex;
    margin-top: 10px;
  }

  .social a {
    width: 60px;
    height: 60px;
  }

  @media (max-width: 769px) {
    .slider,
    .slider ul,
    .slider img {
      height: 100vh;
    }
    .slider img {
      object-position: 75%;
      filter: brightness(50%);
    }
    #imagen-wrapper {
      margin-left: calc(100vw - 98vw);
      margin-right: calc(100vw - 98vw);
      padding: 25px;
      margin-top: auto;
    }
    .imagen {
      background: url("../../public/img/adultomayor.avif") no-repeat center;
      background-position: 75%;
      background-size: cover;
    }
    .content {
      display: flex;
      flex-direction: column;
    }
    .content:last-child {
      column-gap: 20px;
    }
    #texto {
      color: #fff;
      text-align: center;
      width: fit-content;
    }
    #whatsapp-container {
      margin: auto;
    }

    .social {
      margin: auto;
      margin-top: 10px;
    }
  }
</style>
