---

---

<section id="container">
  <div class="nosotros-info">
    <div class="titulos">
      <h2>Nosotros</h2>
      <h3>¿Quiénes somos?</h3>
    </div>
    <p>
      TKUIDO es una plataforma que busca conectar a personas que buscan un servicio preventivo con la mejor y más económica oferta de planes para mantenerte protegido, así como ofrecer una opción rápida y segura, teniendo siempre a disposición una atención al cliente diligente y efectiva.
    </p>
    <a href="/Build">
      <button>Leer más</button>
    </a>
  </div>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/ABNsUZ63_OE?si=s8_DAmGkNEF-s5xt&amp;start=2&autoplay=1" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen lazy-loaded></iframe>
</section>

<style>
  #container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    height: 100vh;
  }

  .nosotros-info {
    width: 50%;
    height: 100%;
    margin-right: 30px;
  }

  button {
    background-color: #6bb580;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transform: all 0.5s ease;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .titulos {
    text-align: center;
    padding: 10px;
  }

  h2 {
    font-size: 2.2rem;
    /**font-size: 2.2rem; */
    font-weight: 600;
    color: #333;
  }

  h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  p {
    padding: 20px;
    font-size: 1.2rem;
    /**font-size: 1.5rem; */
    font-weight: 400;
    color: #333;
    text-align: justify;
  }

  a:hover {
    background-color: #128c7e;
  }

  iframe {
    width: 50%;
    height: 100%;
    border-radius: 8%;
  }

  @media (max-width: 769px) {
    #container {
      height: max-content;
      flex-direction: column;
      padding: 50px 20px;
    }
    .nosotros-info {
      width: auto;
      margin: 0;
    }

    iframe {
      margin-top: 20px;
      width: 100%;
      height: 60%;
    }
  }
</style>
