---
import BaseLayout from "../../layout/BaseLayout.astro"
---

<BaseLayout title={"Asistencia Vial"} description={"Blog de Asistencia Vial "}>
  <main>
    <h1>Asistencia Vial</h1>
  </main>
</BaseLayout>