---
import BaseLayout from "../../layout/BaseLayout.astro"
import ButtonBack from "../../components/ButtonBack.astro"
---

<BaseLayout title={"Seguro Funerario"} description={"Blog de Seguro funerario "}>
  <ButtonBack ruta={'/'}/>
  <main>
      <div id="container">
        <article>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/oKnenE0ISMY?si=CxzBZWmcJgrZwxfC" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </article>
        <h1>Seguro Funerario</h1>
        <div id="info">
          <p>Un seguro funerario es una póliza que te permite cubrir los gastos asociados a un fallecimiento. En otras palabras, es como contratar un servicio por adelantado para que, en caso de que fallezcas, tus familiares no tengan que preocuparse por los trámites y costos de un funeral. Los funerales pueden ser costosos y, en momentos de duelo, la última cosa que una familia quiere es preocuparse por facturas. Un seguro funerario garantiza que estos gastos estén cubiertos.</p>
          <br>
          <p>Los servicios que cubre un seguro funerario pueden variar según la compañía y el plan contratado, pero generalmente incluyen:</p>
          <br>
          <ul>
            <li><strong>Gestión del sepelio: </strong>Todos los trámites necesarios para organizar el funeral.</li>
            <li><strong>Traslado del cuerpo: </strong>Si el fallecimiento ocurre lejos de tu hogar, el seguro puede cubrir el traslado del cuerpo.</li>
            <li><strong>Velatorio: </strong>Arrendamiento de la sala de velatorio, preparación del cuerpo, etc.</li>
            <li><strong>Entierro o cremación: </strong>Los gastos asociados al entierro o a la cremación.</li>
            <li><strong>Ataúd: </strong>El costo del ataúd elegido.</li>
            <li><strong>Servicios religiosos: </strong>Si deseas un servicio religioso, algunos seguros pueden cubrir los honorarios del ministro de culto.</li>
          </ul>
        </div>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    width: 60vw;
    padding: 30px;
    background: #f9f9f9;
    border-radius: 4%;
    margin-bottom: 30px;
  }

  #info {
    width: 50vw;
    margin: 0 20px 0 20px;
  }

  article {
    margin-bottom: 20px;
    width: 30vw;
  }

  iframe {
    width: 100%;
    max-width: 100vw;
    height: 400px;
    border-radius: 4%;
  }

  h1 {
    font-size: 2rem;
    margin: 20px 0;
    color: #6BB580;
  }

  p {
    font-size: 1rem;
    margin: 10px 0;
    text-align: justify;
  }

  ul {
    margin: 10px 0;
    padding-left: 20px;
    text-align: justify;
  }

  li {
    margin: 5px 0;
  }

</style>