---
import BaseLayout from "../../layout/BaseLayout.astro"
---

<BaseLayout title={"Telemedicina"} description={"Blog de Servicio de telemedicina "}>
  <main>
    <h1>Telemedicina</h1>
  </main>
</BaseLayout>