---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="../img/Isotipo_TKUIDO.png" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer/>
  </body>
</html>

<style is:global>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

  * {
    font-family: "Montserrat", "Poppins" , monospace, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    list-style: none;
    text-decoration: none;
  }
  body {
    background: #f0f9f2;
  }
  
  h1 {
  font-family: "Montserrat", "Poppins"  ,sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  }
</style>
