---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/public/img/Isotipo_TKUIDO.png" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer/>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Avenir LTStd-roman";
    src: url(/public/fonts/AVENIRLTSTD-ROMAN.OTF);
  }

  @font-face {
    font-family: "Avenir LTStd-black";
    src: url(/public/fonts/AVENIRLTSTD-BLACK.OTF);
  }

  * {
    font-family: "Avenir LTStd-roman", monospace, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    list-style: none;
    text-decoration: none;
  }
  body {
    background: #f0f9f2;
  }
  
  h1 {
    font-family: "Avenir LTStd-black";
  }
</style>
