---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/public/img/Isotipo_TKUIDO.png" />
    <title>{title}</title>
  </head>
    <body>
      <slot />
    </body>
</html>

<style is:global>
html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #F0F9F2;
  margin: 0;
  padding: 0;
}
</style>

